In [199]:
import numpy as np
import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm
import pickle

In [200]:
filenames = []
for file in os.listdir('data'):
    filenames.append(os.path.join('data',file))

In [201]:
filenames

['data\\1001349.yaml',
 'data\\1001351.yaml',
 'data\\1001353.yaml',
 'data\\1004729.yaml',
 'data\\1007655.yaml',
 'data\\1007657.yaml',
 'data\\1007659.yaml',
 'data\\1019979.yaml',
 'data\\1019981.yaml',
 'data\\1019983.yaml',
 'data\\1020029.yaml',
 'data\\1031431.yaml',
 'data\\1031433.yaml',
 'data\\1031435.yaml',
 'data\\1031665.yaml',
 'data\\1034825.yaml',
 'data\\1034827.yaml',
 'data\\1034829.yaml',
 'data\\1040485.yaml',
 'data\\1040487.yaml',
 'data\\1040489.yaml',
 'data\\1041615.yaml',
 'data\\1041617.yaml',
 'data\\1043989.yaml',
 'data\\1043991.yaml',
 'data\\1043993.yaml',
 'data\\1044211.yaml',
 'data\\1050217.yaml',
 'data\\1050219.yaml',
 'data\\1050221.yaml',
 'data\\1050615.yaml',
 'data\\1065348.yaml',
 'data\\1072206.yaml',
 'data\\1072207.yaml',
 'data\\1072208.yaml',
 'data\\1072316.yaml',
 'data\\1072317.yaml',
 'data\\1072318.yaml',
 'data\\1072319.yaml',
 'data\\1072320.yaml',
 'data\\1072321.yaml',
 'data\\1072322.yaml',
 'data\\1074957.yaml',
 'data\\1074958.yaml',
 'data\\1074959.yaml',
 'data\\1074961.yaml',
 'data\\1074962.yaml',
 'data\\1074964.yaml',
 'data\\1074965.yaml',
 'data\\1074966.yaml',
 'data\\1074968.yaml',
 'data\\1074969.yaml',
 'data\\1074970.yaml',
 'data\\1074971.yaml',
 'data\\1075507.yaml',
 'data\\1075508.yaml',
 'data\\1077947.yaml',
 'data\\1077948.yaml',
 'data\\1083449.yaml',
 'data\\1083450.yaml',
 'data\\1085495.yaml',
 'data\\1085496.yaml',
 'data\\1086067.yaml',
 'data\\1086068.yaml',
 'data\\1086069.yaml',
 'data\\1089202.yaml',
 'data\\1089203.yaml',
 'data\\1089243.yaml',
 'data\\1089776.yaml',
 'data\\1089777.yaml',
 'data\\1089778.yaml',
 'data\\1098211.yaml',
 'data\\1109610.yaml',
 'data\\1115798.yaml',
 'data\\1115799.yaml',
 'data\\1115800.yaml',
 'data\\1115807.yaml',
 'data\\1115808.yaml',
 'data\\1115809.yaml',
 'data\\1117821.yaml',
 'data\\1117822.yaml',
 'data\\1117824.yaml',
 'data\\1119501.yaml',
 'data\\1119502.yaml',
 'data\\1119542.yaml',
 'data\\1119543.yaml',
 'data\\1119544.yaml',
 'data\\1119545.yaml',
 'data\\1120093.yaml',
 'data\\1120094.yaml',
 'data\\1120095.yaml',
 'data\\1120291.yaml',
 'data\\1120292.yaml',
 'data\\1120293.yaml',
 'data\\1122285.yaml',
 'data\\1122286.yaml',
 'data\\1122287.yaml',
 'data\\1122729.yaml',
 'data\\1122730.yaml',
 'data\\1122731.yaml',
 'data\\1122902.yaml',
 'data\\1122908.yaml',
 'data\\1122909.yaml',
 'data\\1122910.yaml',
 'data\\1123206.yaml',
 'data\\1123207.yaml',
 'data\\1123208.yaml',
 'data\\1123209.yaml',
 'data\\1123210.yaml',
 'data\\1126720.yaml',
 'data\\1126721.yaml',
 'data\\1126722.yaml',
 'data\\1126723.yaml',
 'data\\1126724.yaml',
 'data\\1126725.yaml',
 'data\\1126726.yaml',
 'data\\1127300.yaml',
 'data\\1127301.yaml',
 'data\\1130746.yaml',
 'data\\1130747.yaml',
 'data\\1131235.yaml',
 'data\\1131236.yaml',
 'data\\1131237.yaml',
 'data\\1131238.yaml',
 'data\\1131239.yaml',
 'data\\1131240.yaml',
 'data\\1131241.yaml',
 'data\\1133817.yaml',
 'data\\1133818.yaml',
 'data\\1133819.yaml',
 'data\\1133820.yaml',
 'data\\1133821.yaml',
 'data\\1133822.yaml',
 'data\\1133823.yaml',
 'data\\1134031.yaml',
 'data\\1134032.yaml',
 'data\\1138194.yaml',
 'data\\1138195.yaml',
 'data\\1138196.yaml',
 'data\\1138198.yaml',
 'data\\1138202.yaml',
 'data\\1138203.yaml',
 'data\\1140069.yaml',
 'data\\1140070.yaml',
 'data\\1140071.yaml',
 'data\\1140384.yaml',
 'data\\1140992.yaml',
 'data\\1140993.yaml',
 'data\\1141232.yaml',
 'data\\1141835.yaml',
 'data\\1142501.yaml',
 'data\\1142502.yaml',
 'data\\1142503.yaml',
 'data\\1142504.yaml',
 'data\\1142505.yaml',
 'data\\1142506.yaml',
 'data\\1142589.yaml',
 'data\\1142913.yaml',
 'data\\1142914.yaml',
 'data\\1142915.yaml',
 'data\\1142916.yaml',
 'data\\1142917.yaml',
 'data\\1142918.yaml',
 'data\\1142919.yaml',
 'data\\1144149.yaml',
 'data\\1144150.yaml',
 'data\\1144161.yaml',
 'data\\1144162.yaml',
 'data\\1144163.yaml',
 'data\\1144172.yaml',
 'data\\1144173.yaml',
 'data\\1144174.yaml',
 'data\\1144441.yaml',
 'data\\1144442.yaml',
 'data\\1144978.yaml',
 'data\\1144979.yaml',
 'data\\1144980.yaml',
 'data\\1144989.yaml',
 'data\\1144990.yaml',
 'data\\1144991.yaml',
 'data\\1144992.yaml',
 'data\\1145890.yaml',
 'data\\1145894.yaml',
 'data\\1145896.yaml',
 'data\\1145983.yaml',
 'data\\1145984.yaml',
 'data\\1146723.yaml',
 'data\\1146724.yaml',
 'data\\1146725.yaml',
 'data\\1147717.yaml',
 'data\\1147718.yaml',
 'data\\1147719.yaml',
 'data\\1147720.yaml',
 'data\\1147722.yaml',
 'data\\1147723.yaml',
 'data\\1147724.yaml',
 'data\\1147725.yaml',
 'data\\1147726.yaml',
 'data\\1147727.yaml',
 'data\\1147728.yaml',
 'data\\1147729.yaml',
 'data\\1147730.yaml',
 'data\\1147731.yaml',
 'data\\1147732.yaml',
 'data\\1147733.yaml',
 'data\\1147734.yaml',
 'data\\1147735.yaml',
 'data\\1147736.yaml',
 'data\\1148048.yaml',
 'data\\1148050.yaml',
 'data\\1148051.yaml',
 'data\\1148052.yaml',
 'data\\1148053.yaml',
 'data\\1148054.yaml',
 'data\\1148055.yaml',
 'data\\1148056.yaml',
 'data\\1148057.yaml',
 'data\\1148058.yaml',
 'data\\1148059.yaml',
 'data\\1148060.yaml',
 'data\\1148061.yaml',
 'data\\1148062.yaml',
 'data\\1148063.yaml',
 'data\\1150143.yaml',
 'data\\1150144.yaml',
 'data\\1150533.yaml',
 'data\\1150534.yaml',
 'data\\1150535.yaml',
 'data\\1150537.yaml',
 'data\\1150538.yaml',
 'data\\1150539.yaml',
 'data\\1150540.yaml',
 'data\\1150541.yaml',
 'data\\1150542.yaml',
 'data\\1150543.yaml',
 'data\\1150544.yaml',
 'data\\1150545.yaml',
 'data\\1150546.yaml',
 'data\\1150547.yaml',
 'data\\1150548.yaml',
 'data\\1150549.yaml',
 'data\\1150550.yaml',
 'data\\1150551.yaml',
 'data\\1150552.yaml',
 'data\\1150553.yaml',
 'data\\1150554.yaml',
 'data\\1150555.yaml',
 'data\\1152840.yaml',
 'data\\1153317.yaml',
 'data\\1153318.yaml',
 'data\\1153319.yaml',
 'data\\1153696.yaml',
 'data\\1153697.yaml',
 'data\\1153698.yaml',
 'data\\1153843.yaml',
 'data\\1153858.yaml',
 'data\\1153859.yaml',
 'data\\1153860.yaml',
 'data\\1156216.yaml',
 'data\\1156218.yaml',
 'data\\1156219.yaml',
 'data\\1157372.yaml',
 'data\\1157373.yaml',
 'data\\1157374.yaml',
 'data\\1157375.yaml',
 'data\\1157376.yaml',
 'data\\1157377.yaml',
 'data\\1157710.yaml',
 'data\\1157711.yaml',
 'data\\1157712.yaml',
 'data\\1157713.yaml',
 'data\\1157759.yaml',
 'data\\1157760.yaml',
 'data\\1157761.yaml',
 'data\\1158071.yaml',
 'data\\1158072.yaml',
 'data\\1158073.yaml',
 'data\\1158344.yaml',
 'data\\1158345.yaml',
 'data\\1158348.yaml',
 'data\\1158349.yaml',
 'data\\1158350.yaml',
 'data\\1158352.yaml',
 'data\\1158353.yaml',
 'data\\1158355.yaml',
 'data\\1158356.yaml',
 'data\\1158358.yaml',
 'data\\1158359.yaml',
 'data\\1158361.yaml',
 'data\\1161231.yaml',
 'data\\1161232.yaml',
 'data\\1161233.yaml',
 'data\\1162727.yaml',
 'data\\1168020.yaml',
 'data\\1168026.yaml',
 'data\\1168027.yaml',
 'data\\1168028.yaml',
 'data\\1168112.yaml',
 'data\\1168113.yaml',
 'data\\1168114.yaml',
 'data\\1168160.yaml',
 'data\\1168162.yaml',
 'data\\1168247.yaml',
 'data\\1168248.yaml',
 'data\\1168521.yaml',
 'data\\1168522.yaml',
 'data\\1170457.yaml',
 'data\\1170458.yaml',
 'data\\1170459.yaml',
 'data\\1172163.yaml',
 'data\\1172164.yaml',
 'data\\1172165.yaml',
 'data\\1172469.yaml',
 'data\\1172470.yaml',
 'data\\1172471.yaml',
 'data\\1172505.yaml',
 'data\\1172506.yaml',
 'data\\1172507.yaml',
 'data\\1172508.yaml',
 'data\\1172509.yaml',
 'data\\1172510.yaml',
 'data\\1172910.yaml',
 'data\\1172911.yaml',
 'data\\1172912.yaml',
 'data\\1172913.yaml',
 'data\\1172914.yaml',
 'data\\1172915.yaml',
 'data\\1172916.yaml',
 'data\\1172917.yaml',
 'data\\1172918.yaml',
 'data\\1172919.yaml',
 'data\\1172920.yaml',
 'data\\1172921.yaml',
 'data\\1172922.yaml',
 'data\\1172923.yaml',
 'data\\1172924.yaml',
 'data\\1172925.yaml',
 'data\\1172926.yaml',
 'data\\1172927.yaml',
 'data\\1172929.yaml',
 'data\\1172930.yaml',
 'data\\1173048.yaml',
 'data\\1173049.yaml',
 'data\\1173050.yaml',
 'data\\1173051.yaml',
 'data\\1173052.yaml',
 'data\\1173053.yaml',
 'data\\1173054.yaml',
 'data\\1173055.yaml',
 'data\\1173056.yaml',
 'data\\1173057.yaml',
 'data\\1173058.yaml',
 'data\\1173059.yaml',
 'data\\1173060.yaml',
 'data\\1173061.yaml',
 'data\\1173062.yaml',
 'data\\1173063.yaml',
 'data\\1173064.yaml',
 'data\\1173065.yaml',
 'data\\1173066.yaml',
 'data\\1173069.yaml',
 'data\\1173070.yaml',
 'data\\1176435.yaml',
 'data\\1176436.yaml',
 'data\\1176437.yaml',
 'data\\1176792.yaml',
 'data\\1176793.yaml',
 'data\\1176794.yaml',
 'data\\1176795.yaml',
 'data\\1176796.yaml',
 'data\\1176797.yaml',
 'data\\1177018.yaml',
 'data\\1177019.yaml',
 'data\\1177020.yaml',
 'data\\1177021.yaml',
 'data\\1177022.yaml',
 'data\\1177484.yaml',
 'data\\1177485.yaml',
 'data\\1178996.yaml',
 'data\\1179016.yaml',
 'data\\1179017.yaml',
 'data\\1179018.yaml',
 'data\\1179610.yaml',
 'data\\1179611.yaml',
 'data\\1182642.yaml',
 'data\\1182643.yaml',
 'data\\1182644.yaml',
 'data\\1182646.yaml',
 'data\\1182648.yaml',
 'data\\1182649.yaml',
 'data\\1182650.yaml',
 'data\\1182652.yaml',
 'data\\1182653.yaml',
 'data\\1182654.yaml',
 'data\\1182656.yaml',
 'data\\1182657.yaml',
 'data\\1182658.yaml',
 'data\\1182904.yaml',
 'data\\1182905.yaml',
 'data\\1182906.yaml',
 'data\\1182909.yaml',
 'data\\1182912.yaml',
 'data\\1182913.yaml',
 'data\\1182914.yaml',
 'data\\1182916.yaml',
 'data\\1182917.yaml',
 'data\\1182918.yaml',
 'data\\1183510.yaml',
 'data\\1183511.yaml',
 'data\\1183512.yaml',
 'data\\1183524.yaml',
 'data\\1183525.yaml',
 'data\\1183526.yaml',
 'data\\1183527.yaml',
 'data\\1183528.yaml',
 'data\\1183529.yaml',
 'data\\1183543.yaml',
 'data\\1183544.yaml',
 'data\\1183545.yaml',
 'data\\1183546.yaml',
 'data\\1183547.yaml',
 'data\\1183548.yaml',
 'data\\1183549.yaml',
 'data\\1183856.yaml',
 'data\\1183857.yaml',
 'data\\1184258.yaml',
 'data\\1184260.yaml',
 'data\\1184261.yaml',
 'data\\1184262.yaml',
 'data\\1184263.yaml',
 'data\\1184266.yaml',
 'data\\1184900.yaml',
 'data\\1184901.yaml',
 'data\\1184902.yaml',
 'data\\1185154.yaml',
 'data\\1185155.yaml',
 'data\\1185156.yaml',
 'data\\1185181.yaml',
 'data\\1185182.yaml',
 'data\\1185184.yaml',
 'data\\1185185.yaml',
 'data\\1185186.yaml',
 'data\\1185187.yaml',
 'data\\1185188.yaml',
 'data\\1185190.yaml',
 'data\\1185191.yaml',
 'data\\1185192.yaml',
 'data\\1185193.yaml',
 'data\\1185313.yaml',
 'data\\1185314.yaml',
 'data\\1185315.yaml',
 'data\\1185316.yaml',
 'data\\1185317.yaml',
 'data\\1185318.yaml',
 'data\\1186488.yaml',
 'data\\1186490.yaml',
 'data\\1186491.yaml',
 'data\\1186492.yaml',
 'data\\1186493.yaml',
 'data\\1187005.yaml',
 'data\\1187006.yaml',
 'data\\1187013.yaml',
 'data\\1187014.yaml',
 'data\\1187015.yaml',
 'data\\1187018.yaml',
 'data\\1187019.yaml',
 'data\\1187020.yaml',
 'data\\1187665.yaml',
 'data\\1187666.yaml',
 'data\\1187667.yaml',
 'data\\1187668.yaml',
 'data\\1187669.yaml',
 'data\\1187677.yaml',
 'data\\1187678.yaml',
 'data\\1187679.yaml',
 'data\\1187680.yaml',
 'data\\1187681.yaml',
 'data\\1187717.yaml',
 'data\\1187718.yaml',
 'data\\1187719.yaml',
 'data\\1187720.yaml',
 'data\\1188379.yaml',
 'data\\1188380.yaml',
 'data\\1188621.yaml',
 'data\\1188622.yaml',
 'data\\1188623.yaml',
 'data\\1188784.yaml',
 'data\\1188785.yaml',
 'data\\1188786.yaml',
 'data\\1189743.yaml',
 'data\\1189744.yaml',
 'data\\1190605.yaml',
 'data\\1190606.yaml',
 'data\\1190607.yaml',
 'data\\1190608.yaml',
 'data\\1190744.yaml',
 'data\\1190746.yaml',
 'data\\1190747.yaml',
 'data\\1190749.yaml',
 'data\\1190750.yaml',
 'data\\1190751.yaml',
 'data\\1190752.yaml',
 'data\\1190753.yaml',
 'data\\1190754.yaml',
 'data\\1190755.yaml',
 'data\\1190767.yaml',
 'data\\1190768.yaml',
 'data\\1190769.yaml',
 'data\\1190771.yaml',
 'data\\1190772.yaml',
 'data\\1190773.yaml',
 'data\\1190774.yaml',
 'data\\1190775.yaml',
 'data\\1190776.yaml',
 'data\\1191006.yaml',
 'data\\1191008.yaml',
 'data\\1192223.yaml',
 'data\\1192224.yaml',
 'data\\1192875.yaml',
 'data\\1192876.yaml',
 'data\\1192877.yaml',
 'data\\1193494.yaml',
 'data\\1193495.yaml',
 'data\\1193496.yaml',
 'data\\1196033.yaml',
 'data\\1197047.yaml',
 'data\\1197049.yaml',
 'data\\1197051.yaml',
 'data\\1197052.yaml',
 'data\\1197053.yaml',
 'data\\1197054.yaml',
 'data\\1197055.yaml',
 'data\\1197056.yaml',
 'data\\1197057.yaml',
 'data\\1197058.yaml',
 'data\\1197059.yaml',
 'data\\1197061.yaml',
 'data\\1197062.yaml',
 'data\\1197063.yaml',
 'data\\1197064.yaml',
 'data\\1197065.yaml',
 'data\\1197066.yaml',
 'data\\1197140.yaml',
 'data\\1197141.yaml',
 'data\\1197142.yaml',
 'data\\1197143.yaml',
 'data\\1197144.yaml',
 'data\\1197145.yaml',
 'data\\1197246.yaml',
 'data\\1197247.yaml',
 'data\\1197248.yaml',
 'data\\1197249.yaml',
 'data\\1197253.yaml',
 'data\\1197396.yaml',
 'data\\1197397.yaml',
 'data\\1197398.yaml',
 'data\\1197399.yaml',
 'data\\1197400.yaml',
 'data\\1197401.yaml',
 'data\\1197402.yaml',
 'data\\1197403.yaml',
 'data\\1197404.yaml',
 'data\\1197406.yaml',
 'data\\1197407.yaml',
 'data\\1197507.yaml',
 'data\\1197508.yaml',
 'data\\1197509.yaml',
 'data\\1197510.yaml',
 'data\\1197521.yaml',
 'data\\1197522.yaml',
 'data\\1197523.yaml',
 'data\\1197524.yaml',
 'data\\1197525.yaml',
 'data\\1197526.yaml',
 'data\\1197527.yaml',
 'data\\1197528.yaml',
 'data\\1197529.yaml',
 'data\\1198217.yaml',
 'data\\1198218.yaml',
 'data\\1198219.yaml',
 'data\\1198235.yaml',
 'data\\1198236.yaml',
 'data\\1198237.yaml',
 'data\\1198244.yaml',
 'data\\1198245.yaml',
 'data\\1198246.yaml',
 'data\\1198475.yaml',
 'data\\1198476.yaml',
 'data\\1198477.yaml',
 'data\\1198478.yaml',
 'data\\1198481.yaml',
 'data\\1198482.yaml',
 'data\\1198489.yaml',
 'data\\1198490.yaml',
 'data\\1198491.yaml',
 'data\\1199499.yaml',
 'data\\1199500.yaml',
 'data\\1199501.yaml',
 'data\\1199502.yaml',
 'data\\1199503.yaml',
 'data\\1199504.yaml',
 'data\\1199505.yaml',
 'data\\1199506.yaml',
 'data\\1199507.yaml',
 'data\\1199508.yaml',
 'data\\1199509.yaml',
 'data\\1199510.yaml',
 'data\\1199511.yaml',
 'data\\1199512.yaml',
 'data\\1199513.yaml',
 'data\\1199514.yaml',
 'data\\1199515.yaml',
 'data\\1199516.yaml',
 'data\\1199517.yaml',
 'data\\1199518.yaml',
 'data\\1199519.yaml',
 'data\\1199520.yaml',
 'data\\1199521.yaml',
 'data\\1199522.yaml',
 'data\\1199523.yaml',
 'data\\1199524.yaml',
 'data\\1199525.yaml',
 'data\\1199526.yaml',
 'data\\1199527.yaml',
 'data\\1199528.yaml',
 'data\\1199529.yaml',
 'data\\1199530.yaml',
 'data\\1199531.yaml',
 'data\\1199532.yaml',
 'data\\1199533.yaml',
 'data\\1199534.yaml',
 'data\\1199535.yaml',
 'data\\1199536.yaml',
 'data\\1199537.yaml',
 'data\\1199538.yaml',
 'data\\1199539.yaml',
 'data\\1199540.yaml',
 'data\\1199541.yaml',
 'data\\1199542.yaml',
 'data\\1199543.yaml',
 'data\\1199544.yaml',
 'data\\1199545.yaml',
 'data\\1199546.yaml',
 'data\\1199547.yaml',
 'data\\1199548.yaml',
 'data\\1199549.yaml',
 'data\\1200425.yaml',
 'data\\1200426.yaml',
 'data\\1200427.yaml',
 'data\\1200428.yaml',
 'data\\1201668.yaml',
 'data\\1201669.yaml',
 'data\\1201670.yaml',
 'data\\1201671.yaml',
 'data\\1201673.yaml',
 'data\\1201680.yaml',
 'data\\1201681.yaml',
 'data\\1201682.yaml',
 'data\\1201683.yaml',
 'data\\1201685.yaml',
 'data\\1202007.yaml',
 'data\\1202008.yaml',
 'data\\1202009.yaml',
 'data\\1202010.yaml',
 'data\\1202011.yaml',
 'data\\1202243.yaml',
 'data\\1202244.yaml',
 'data\\1202252.yaml',
 'data\\1202253.yaml',
 'data\\1202254.yaml',
 'data\\1202255.yaml',
 'data\\1202256.yaml',
 'data\\1202366.yaml',
 'data\\1203676.yaml',
 'data\\1203677.yaml',
 'data\\1203678.yaml',
 'data\\1204726.yaml',
 'data\\1207081.yaml',
 'data\\1207082.yaml',
 'data\\1208347.yaml',
 'data\\1208348.yaml',
 'data\\1208349.yaml',
 'data\\1208606.yaml',
 'data\\1208609.yaml',
 'data\\1208612.yaml',
 'data\\1208613.yaml',
 'data\\1208804.yaml',
 'data\\1208806.yaml',
 'data\\1208808.yaml',
 'data\\1208810.yaml',
 'data\\1213058.yaml',
 'data\\1213059.yaml',
 'data\\1213874.yaml',
 'data\\1213875.yaml',
 'data\\1214670.yaml',
 'data\\1214671.yaml',
 'data\\1214763.yaml',
 'data\\1214764.yaml',
 'data\\1214765.yaml',
 'data\\1214766.yaml',
 'data\\1215136.yaml',
 'data\\1215137.yaml',
 'data\\1215138.yaml',
 'data\\1215139.yaml',
 'data\\1215140.yaml',
 'data\\1215159.yaml',
 'data\\1215160.yaml',
 'data\\1215161.yaml',
 'data\\1215162.yaml',
 'data\\1215163.yaml',
 'data\\1215164.yaml',
 'data\\1215165.yaml',
 'data\\1216416.yaml',
 'data\\1216417.yaml',
 'data\\1216418.yaml',
 'data\\1217738.yaml',
 'data\\1217740.yaml',
 'data\\1217741.yaml',
 'data\\1217742.yaml',
 'data\\1217743.yaml',
 'data\\1217744.yaml',
 'data\\1217745.yaml',
 'data\\1217747.yaml',
 'data\\1223941.yaml',
 'data\\1223942.yaml',
 'data\\1223943.yaml',
 'data\\1223952.yaml',
 'data\\1223953.yaml',
 'data\\1223954.yaml',
 'data\\1229205.yaml',
 'data\\1229206.yaml',
 'data\\1229207.yaml',
 'data\\1229208.yaml',
 'data\\1229820.yaml',
 'data\\1229822.yaml',
 'data\\1229823.yaml',
 'data\\1229824.yaml',
 'data\\1230855.yaml',
 'data\\1230856.yaml',
 'data\\1230857.yaml',
 'data\\1230858.yaml',
 'data\\1230859.yaml',
 'data\\1233464.yaml',
 'data\\1233465.yaml',
 'data\\1233466.yaml',
 'data\\1233954.yaml',
 'data\\1233955.yaml',
 'data\\1233956.yaml',
 'data\\1233959.yaml',
 'data\\1233960.yaml',
 'data\\1233961.yaml',
 'data\\1235829.yaml',
 'data\\1235830.yaml',
 'data\\1235832.yaml',
 'data\\1237122.yaml',
 'data\\1237123.yaml',
 'data\\1237124.yaml',
 'data\\211028.yaml',
 'data\\211048.yaml',
 'data\\222678.yaml',
 'data\\225263.yaml',
 'data\\225271.yaml',
 'data\\226374.yaml',
 'data\\237242.yaml',
 'data\\238195.yaml',
 'data\\249227.yaml',
 'data\\251487.yaml',
 'data\\251488.yaml',
 'data\\255954.yaml',
 'data\\258463.yaml',
 'data\\258464.yaml',
 'data\\287853.yaml',
 'data\\287854.yaml',
 'data\\287855.yaml',
 'data\\287856.yaml',
 'data\\287857.yaml',
 'data\\287858.yaml',
 'data\\287860.yaml',
 'data\\287861.yaml',
 'data\\287862.yaml',
 'data\\287863.yaml',
 'data\\287864.yaml',
 'data\\287865.yaml',
 'data\\287866.yaml',
 'data\\287867.yaml',
 'data\\287868.yaml',
 'data\\287869.yaml',
 'data\\287870.yaml',
 'data\\287871.yaml',
 'data\\287872.yaml',
 'data\\287873.yaml',
 'data\\287874.yaml',
 'data\\287875.yaml',
 'data\\287876.yaml',
 'data\\287877.yaml',
 'data\\287878.yaml',
 'data\\287879.yaml',
 'data\\291343.yaml',
 'data\\291356.yaml',
 'data\\296903.yaml',
 'data\\297800.yaml',
 'data\\298795.yaml',
 'data\\298804.yaml',
 'data\\300435.yaml',
 'data\\300436.yaml',
 'data\\306987.yaml',
 'data\\306989.yaml',
 'data\\306991.yaml',
 'data\\319112.yaml',
 'data\\319142.yaml',
 'data\\343764.yaml',
 'data\\350050.yaml',
 'data\\350347.yaml',
 'data\\350475.yaml',
 'data\\350476.yaml',
 'data\\351694.yaml',
 'data\\351695.yaml',
 'data\\351696.yaml',
 'data\\352674.yaml',
 'data\\354456.yaml',
 'data\\355988.yaml',
 'data\\355989.yaml',
 'data\\355991.yaml',
 'data\\355992.yaml',
 'data\\355993.yaml',
 'data\\355994.yaml',
 'data\\355995.yaml',
 'data\\355996.yaml',
 'data\\355997.yaml',
 'data\\355998.yaml',
 'data\\355999.yaml',
 'data\\356000.yaml',
 'data\\356001.yaml',
 'data\\356002.yaml',
 'data\\356003.yaml',
 'data\\356004.yaml',
 'data\\356005.yaml',
 'data\\356006.yaml',
 'data\\356007.yaml',
 'data\\356008.yaml',
 'data\\356009.yaml',
 'data\\356010.yaml',
 'data\\356011.yaml',
 'data\\356012.yaml',
 'data\\356013.yaml',
 'data\\356014.yaml',
 'data\\356015.yaml',
 'data\\356016.yaml',
 'data\\356017.yaml',
 'data\\361530.yaml',
 'data\\361531.yaml',
 'data\\361656.yaml',
 'data\\361660.yaml',
 'data\\366622.yaml',
 'data\\366707.yaml',
 'data\\366708.yaml',
 'data\\386494.yaml',
 'data\\386535.yaml',
 'data\\387563.yaml',
 'data\\387564.yaml',
 'data\\391794.yaml',
 'data\\392615.yaml',
 'data\\401076.yaml',
 'data\\403375.yaml',
 'data\\403385.yaml',
 'data\\403386.yaml',
 'data\\406197.yaml',
 'data\\406198.yaml',
 'data\\406207.yaml',
 'data\\412677.yaml',
 'data\\412678.yaml',
 'data\\412679.yaml',
 'data\\412680.yaml',
 'data\\412681.yaml',

In [202]:
base_df=pd.DataFrame()
base_df_list =[]
counter=1
for file in tqdm(filenames):
    with open(file,'r') as f:
        df=pd.json_normalize(safe_load(f))
        df['match_id']=counter
        base_df_list.append(df)
        # base_df=pd.concat([base_df,df],ignore_index=True)
        counter+=1    
        
base_df = pd.concat(base_df_list, ignore_index=True)

100%|██████████| 1432/1432 [08:13<00:00,  2.90it/s]

In [203]:
base_df.to_pickle('checkpoints/basedata.pkl')
base_df=pickle.load(open('checkpoints/basedata.pkl','rb'))
base_df

,innings,meta.data_version,meta.created,meta.revision,info.dates,info.gender,info.match_type,info.outcome.by.wickets,info.outcome.winner,info.overs,...,info.outcome.by.runs,info.match_type_number,info.neutral_venue,info.outcome.method,info.outcome.result,info.outcome.eliminator,info.supersubs.New Zealand,info.supersubs.South Africa,info.bowl_out,info.outcome.bowl_out
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-18,2,[2017-02-17],male,T20,5.0,Sri Lanka,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-19,2,[2017-02-19],male,T20,2.0,Sri Lanka,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2017-02-23,1,[2017-02-22],male,T20,NaN,Australia,20,...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.9,2016-09-12,1,[2016-09-05],male,T20,NaN,Hong Kong,20,...,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.9,2016-06-19,1,[2016-06-18],male,T20,NaN,Zimbabwe,20,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1427,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-03-05,2,[2016-03-04],male,T20,6.0,Pakistan,20,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1428,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",0.9,2016-03-08,1,[2016-03-06],male,T20,8.0,India,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1429,"[{'1st innings': {'team': 'Netherlands', 'deli...",0.9,2016-02-03,1,[2016-02-03],male,T20,NaN,Netherlands,20,...,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1430,"[{'1st innings': {'team': 'Australia', 'delive...",0.9,2016-09-12,1,[2016-09-06],male,T20,NaN,Australia,20,...,85.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1431,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.9,2016-09-12,1,[2016-09-09],male,T20,4.0,Australia,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [204]:
base_df.drop(columns=[
    'meta.data_version',
    'meta.created',
    'meta.revision',
    'info.outcome.bowl_out',
    'info.bowl_out',
    'info.supersubs.South Africa',
    'info.supersubs.New Zealand',
    'info.outcome.eliminator',
    'info.outcome.result',
    'info.outcome.method',
    'info.neutral_venue',
    'info.match_type_number',
    'info.outcome.by.runs',
    'info.outcome.by.wickets'
],inplace=True)

In [205]:
base_df['info.gender'].value_counts()

info.gender
male      966
female    466
Name: count, dtype: int64

In [206]:
base_df = base_df[base_df['info.gender'] == 'male']

In [207]:
base_df['info.overs'].value_counts()

info.overs
20    963
50      3
Name: count, dtype: int64

In [208]:
base_df=base_df[base_df['info.overs']==20]

In [209]:
base_df['info.overs'].value_counts()

info.overs
20    963
Name: count, dtype: int64

In [210]:
base_df.drop(columns=['info.gender'],inplace=True)
base_df.drop(columns=['info.overs'],inplace=True)
base_df.drop(columns=['info.match_type'],inplace=True)

In [211]:
pickle.dump(base_df,open('checkpoints/data_level1.pkl','wb'))

In [212]:
matches=pickle.load(open('checkpoints/data_level1.pkl','rb'))
matches

,innings,info.dates,info.outcome.winner,info.player_of_match,info.teams,info.toss.decision,info.toss.winner,info.umpires,info.venue,match_id,info.city
0,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-17],Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Melbourne Cricket Ground,1,NaN
1,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-19],Sri Lanka,[DAS Gunaratne],"[Australia, Sri Lanka]",field,Sri Lanka,"[SD Fry, SJ Nogajski]","Simonds Stadium, South Geelong",2,Victoria
2,"[{'1st innings': {'team': 'Australia', 'delive...",[2017-02-22],Australia,[A Zampa],"[Australia, Sri Lanka]",field,Sri Lanka,"[MD Martell, P Wilson]",Adelaide Oval,3,NaN
3,"[{'1st innings': {'team': 'Hong Kong', 'delive...",[2016-09-05],Hong Kong,NaN,"[Ireland, Hong Kong]",bat,Hong Kong,"[R Black, AJ Neill]","Bready Cricket Club, Magheramason",4,Londonderry
4,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",[2016-06-18],Zimbabwe,[E Chigumbura],"[Zimbabwe, India]",field,India,"[TJ Matibiri, RB Tiffin]",Harare Sports Club,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1427,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-03-04],Pakistan,[Umar Akmal],"[Pakistan, Sri Lanka]",field,Pakistan,"[AK Chaudhary, Enamul Haque]",Shere Bangla National Stadium,1428,Mirpur
1428,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",[2016-03-06],India,[S Dhawan],"[Bangladesh, India]",field,India,"[RSA Palliyaguruge, Shozab Raza]",Shere Bangla National Stadium,1429,Mirpur
1429,"[{'1st innings': {'team': 'Netherlands', 'deli...",[2016-02-03],Netherlands,[Mudassar Bukhari],"[United Arab Emirates, Netherlands]",field,United Arab Emirates,"[CK Nandan, Sarika Prasad]",ICC Academy,1430,Dubai
1430,"[{'1st innings': {'team': 'Australia', 'delive...",[2016-09-06],Australia,[GJ Maxwell],"[Sri Lanka, Australia]",field,Sri Lanka,"[REJ Martinesz, RR Wimalasiri]",Pallekele International Cricket Stadium,1431,NaN
1431,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",[2016-09-09],Australia,[GJ Maxwell],"[Sri Lanka, Australia]",bat,Sri Lanka,"[REJ Martinesz, RSA Palliyaguruge]",R Premadasa Stadium,1432,Colombo

In [213]:
matches.iloc[0]['innings'][0]['1st innings']['deliveries']

[{0.1: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.2: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.3: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {0.4: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {0.5: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.6: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {1.1: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.2: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {1.3: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.4: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.5: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {1.6: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {2.1: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.2: {'batsman': 'AJ Finch',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.3: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.4: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.5: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {2.6: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.1: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.2: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.3: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.4: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.5: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {3.6: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.1: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {4.2: {'batsman': 'AJ Finch',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {4.3: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {4.4: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {4.5: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.6: {'batsman': 'AJ Finch',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.1: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.2: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'extras': {'wides': 1},
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {5.3: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.4: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.5: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.6: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.7: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.1: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.2: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.3: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.4: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.5: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.6: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {7.1: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.2: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.3: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.4: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'extras': {'byes': 1},
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {7.5: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {7.6: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.1: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.2: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {8.3: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.4: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.5: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.6: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.1: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.2: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.3: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.4: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.5: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {9.6: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.1: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.2: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'extras': {'legbyes': 1},
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {10.3: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['SL Malinga'],
    'kind': 'caught',
    'player_out': 'M Klinger'}}},
 {10.4: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {10.5: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.6: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.1: {'batsman': 'AJ Finch',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {11.2: {'batsman': 'AJ Finch',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {11.3: {'batsman': 'AJ Finch',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['SL Malinga'],
    'kind': 'caught',
    'player_out': 'AJ Finch'}}},
 {11.4: {'batsman': 'TM Head',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.5: {'batsman': 'MC Henriques',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.6: {'batsman': 'TM Head',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.1: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.2: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.3: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.4: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.5: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.6: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.1: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {13.2: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'extras': {'wides': 1},
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {13.3: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.4: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {13.5: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.6: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.7: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.1: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.2: {'batsman': 'MC Henriques',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'TM Head',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {14.3: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.4: {'batsman': 'MC Henriques',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'TM Head',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {14.5: {'batsman': 'MC Henriques',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'TM Head',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {14.6: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.1: {'batsman': 'MC Henriques',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['CK Kapugedera'],
    'kind': 'caught',
    'player_out': 'MC Henriques'}}},
 {15.2: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.3: {'batsman': 'AJ Turner',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.4: {'batsman': 'AJ Turner',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.5: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.6: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'extras': {'wides': 1},
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {15.7: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {16.1: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {16.2: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {16.3: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.4: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.5: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.6: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.1: {'batsman': 'TM Head',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.2: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {17.3: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'extras': {'noballs': 1},
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {17.4: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.5: {'batsman': 'TM Head',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.6: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.7: {'batsman': 'TM Head',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.1: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.2: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.3: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.4: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['S Prasanna'],
    'kind': 'caught',
    'player_out': 'TM Head'}}},
 {18.5: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'JP Faulkner',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['S Prasanna'],
    'kind': 'caught',
    'player_out': 'AJ Turner'}}},
 {18.6: {'batsman': 'JP Faulkner',
   'bowler': 'SL Malinga',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {19.1: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {19.2: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {19.3: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.4: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'extras': {'wides': 1},
   'non_striker': 'TD Paine',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {19.5: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1},
   'wicket': {'fielders': ['CK Kapugedera', 'KMDN Kulasekara'],
    'kind': 'run out',
    'player_out': 'TD Paine'}}},
 {19.6: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'PJ Cummins',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.7: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'PJ Cummins',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}]

In [214]:
count=1
delivery_df=pd.DataFrame()

for index,row in tqdm(matches.iterrows(),desc="Loading Ball by Ball :"):
    # if count in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
    #     count+=1
    #     continue
    count+=1
    ball_of_match = []
    batsman = []
    bowler = []
    runs = []
    player_of_dismissed = []
    teams = []
    batting_team = []
    match_id = []
    city = []
    venue = []
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            match_id.append(count)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
    loop_df = pd.DataFrame({
            'match_id':match_id,
            'teams':teams,
            'batting_team':batting_team,
            'ball':ball_of_match,
            'batsman':batsman,
            'bowler':bowler,
            'runs':runs,
            'player_dismissed':player_of_dismissed,
            'city':city,
            'venue':venue
        })
    delivery_df = pd.concat([delivery_df,loop_df],ignore_index=True)

Loading Ball by Ball :: 963it [00:14, 67.52it/s]

In [215]:
delivery_df

,match_id,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"[Australia, Sri Lanka]",Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground
1,2,"[Australia, Sri Lanka]",Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground
2,2,"[Australia, Sri Lanka]",Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground
3,2,"[Australia, Sri Lanka]",Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground
4,2,"[Australia, Sri Lanka]",Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...,...,...
116542,964,"[Sri Lanka, Australia]",Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium
116543,964,"[Sri Lanka, Australia]",Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium
116544,964,"[Sri Lanka, Australia]",Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium
116545,964,"[Sri Lanka, Australia]",Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium
116546,964,"[Sri Lanka, Australia]",Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium

In [216]:
pickle.dump(delivery_df,open('checkpoints/ByEachdelivery.pkl','wb'))

In [217]:
def findBowlingTeam(row):
    for team in row["teams"]:
        if team != row["batting_team"]:
            return team

In [218]:
delivery_df['bowling_team']=delivery_df.apply(findBowlingTeam,axis=1)

In [219]:
delivery_df.drop(columns=['teams'],inplace=True)

In [220]:
teams = [
    'Australia',
    'India',
    'Bangladesh',
    'New Zealand',
    'South Africa',
    'England',
    'West Indies',
    'Afghanistan',
    'Pakistan',
    'Sri Lanka'    
]

In [221]:
delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]

In [222]:
output = delivery_df[['match_id','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]
pickle.dump(output,open('checkpoints/data_level2.pkl','wb'))

In [223]:
df=pickle.load(open('checkpoints/data_level2.pkl','rb'))
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...
116542,964,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium
116543,964,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium
116544,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium
116545,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium
116546,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium

### **Need to get the below data from the dataset**

- batting_team
- bowling team
- city
- current score
- ball Left
- wickets left
- current rr
- Last five

In [224]:
df.isnull().sum()

match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                8671
venue                  0
dtype: int64

In [225]:
df[df['city'].isnull()]['venue'].value_counts()

venue
Dubai International Cricket Stadium        3092
Pallekele International Cricket Stadium    2066
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       749
Adelaide Oval                               498
Harare Sports Club                          372
Sharjah Cricket Stadium                     249
Sylhet International Cricket Stadium        128
Carrara Oval                                 64
Name: count, dtype: int64

In [226]:
x = np.where(df['city'].isnull(), df['venue'].str.split().apply(lambda x:x[0]), df['city'])
df['city'] = x

In [227]:
df.isnull().sum()

match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [228]:
df.drop(columns=['venue'],inplace=True)

In [229]:
eligible_city=df['city'].value_counts()[df['city'].value_counts()>600].index.tolist()  # Removed cities where less than 600 balls played
df[df['city'].isin(eligible_city)]

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne
...,...,...,...,...,...,...,...
116542,964,Sri Lanka,Australia,19.3,1,0,Colombo
116543,964,Sri Lanka,Australia,19.4,0,0,Colombo
116544,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo
116545,964,Sri Lanka,Australia,19.6,2,0,Colombo
116546,964,Sri Lanka,Australia,19.7,1,0,Colombo

In [230]:
df['current_score']=df.groupby('match_id')['runs'].cumsum()

In [231]:
def get_over(ball):
    return str(ball).split(".")[0]

def get_ball_no(ball):
    return str(ball).split(".")[1]

df['over'] = df['ball'].apply(get_over)
df['ball_no'] = df['ball'].apply(get_ball_no)

In [232]:
df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')
df['balls_left']=120-df['balls_bowled']
df['balls_left']=df['balls_left'].apply(lambda x:0 if x<0 else x)

In [233]:
df['player_dismissed'] = df['player_dismissed'].apply(lambda x: 0 if x == '0' else 1)
df['wickets_fallen']=df.groupby('match_id')['player_dismissed'].cumsum()
df['wickets_left']=10-df['wickets_fallen']

In [234]:
pickle.dump(df,open('checkpoints/data_level3.pkl','wb'))

In [235]:
new_df=pickle.load(open('checkpoints/data_level3.pkl','rb'))
new_df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_fallen,wickets_left
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,0,10
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,0,10
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,0,10
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,0,10
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116542,964,Sri Lanka,Australia,19.3,1,0,Colombo,125,19,3,117,3,8,2
116543,964,Sri Lanka,Australia,19.4,0,0,Colombo,125,19,4,118,2,8,2
116544,964,Sri Lanka,Australia,19.5,0,1,Colombo,125,19,5,119,1,9,1
116545,964,Sri Lanka,Australia,19.6,2,0,Colombo,127,19,6,120,0,9,1
116546,964,Sri Lanka,Australia,19.7,1,0,Colombo,128,19,7,121,0,9,1

In [236]:
new_df['crr']=round((new_df['current_score']*6)/new_df['balls_bowled'],2)

In [237]:
groups = new_df.groupby('match_id')
match_ids = new_df['match_id'].unique()
last_five = []
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30)['runs'].sum().values.tolist())
new_df['last_five'] = last_five

In [238]:
final_data=new_df.groupby('match_id')['runs'].sum().reset_index().merge(new_df,on='match_id')
final_data

,match_id,runs_x,batting_team,bowling_team,ball,runs_y,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_fallen,wickets_left,crr,last_five
0,2,168,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,0,10,0.00,NaN
1,2,168,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,0,10,0.00,NaN
2,2,168,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,0,10,2.00,NaN
3,2,168,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,0,10,4.50,NaN
4,2,168,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,0,10,3.60,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64736,964,128,Sri Lanka,Australia,19.3,1,0,Colombo,125,19,3,117,3,8,2,6.41,32.0
64737,964,128,Sri Lanka,Australia,19.4,0,0,Colombo,125,19,4,118,2,8,2,6.36,32.0
64738,964,128,Sri Lanka,Australia,19.5,0,1,Colombo,125,19,5,119,1,9,1,6.30,32.0
64739,964,128,Sri Lanka,Australia,19.6,2,0,Colombo,127,19,6,120,0,9,1,6.35,33.0
64740,964,128,Sri Lanka,Australia,19.7,1,0,Colombo,128,19,7,121,0,9,1,6.35,32.0

In [239]:
final_data = final_data[['match_id','batting_team','bowling_team','runs_x','current_score','wickets_left','crr','city','runs_y','balls_left','last_five']]

In [240]:
final_data.isnull().sum()
final_data.dropna(inplace=True)

C:\Users\sayak\AppData\Local\Temp\ipykernel_23048\2061501241.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data.dropna(inplace=True)

In [241]:
final_data

,match_id,batting_team,bowling_team,runs_x,current_score,wickets_left,crr,city,runs_y,balls_left,last_five
29,2,Australia,Sri Lanka,168,43,10,8.60,Melbourne,1,90,43.0
30,2,Australia,Sri Lanka,168,44,10,8.52,Melbourne,1,89,44.0
31,2,Australia,Sri Lanka,168,45,10,8.44,Melbourne,1,88,45.0
32,2,Australia,Sri Lanka,168,45,10,8.18,Melbourne,0,87,44.0
33,2,Australia,Sri Lanka,168,45,10,7.94,Melbourne,0,86,42.0
...,...,...,...,...,...,...,...,...,...,...,...
64736,964,Sri Lanka,Australia,128,125,2,6.41,Colombo,1,3,32.0
64737,964,Sri Lanka,Australia,128,125,2,6.36,Colombo,0,2,32.0
64738,964,Sri Lanka,Australia,128,125,1,6.30,Colombo,0,1,32.0
64739,964,Sri Lanka,Australia,128,127,1,6.35,Colombo,2,0,33.0
64740,964,Sri Lanka,Australia,128,128,1,6.35,Colombo,1,0,32.0

In [242]:
final_data = final_data.sample(final_data.shape[0])
final_data

,match_id,batting_team,bowling_team,runs_x,current_score,wickets_left,crr,city,runs_y,balls_left,last_five
43556,662,South Africa,Australia,146,94,5,6.20,Colombo,2,29,29.0
19540,306,England,Australia,145,66,8,6.95,Southampton,6,63,45.0
28700,503,Australia,New Zealand,150,94,7,6.71,Sydney,1,36,32.0
36377,581,New Zealand,Australia,214,192,4,10.29,Christchurch,1,8,68.0
33154,551,Australia,Pakistan,127,98,4,7.08,Melbourne,6,37,28.0
...,...,...,...,...,...,...,...,...,...,...,...
30552,528,Sri Lanka,New Zealand,158,93,7,7.25,Nottingham,1,43,28.0
57779,858,Australia,South Africa,157,97,5,8.43,Durban,0,51,27.0
54991,814,South Africa,West Indies,165,35,8,5.83,Cape Town,0,84,28.0
2169,26,Pakistan,West Indies,160,47,9,6.41,Dubai,1,76,43.0
61774,916,New Zealand,Pakistan,180,78,8,8.21,Chandigarh,0,63,41.0

### **Spliting the test and train**

In [243]:
X = final_data.drop(columns=['match_id','runs_x','runs_y'])
y = final_data['runs_x']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

### **Importing all dependencies**

In [254]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

### **Pipe and Prediction Model**

In [255]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=42))
])

In [281]:
pipe.fit(X_train,y_train)
pickle.dump(pipe,open('pipe.pkl','wb'))

In [256]:
y_pred = pipe.predict(X_test)
print("R2 Score : ",r2_score(y_test,y_pred))
print("Mean Absolute Error : ",mean_absolute_error(y_test,y_pred))

R2 Score :  0.9896341678439596
Mean Absolute Error :  1.5833891026931888

In [278]:
input_df = pd.DataFrame({
        "batting_team": ["New Zealand"],
        "bowling_team": ["Pakistan"],
        "current_score": [123],
        "wickets_left": [6],
        "crr": [7.23],
        "city": "Sydney",
        "balls_left": [18],
        "last_five": [42],
    })
input_df
# pipe.fit(X_train,y_train)
result = pipe.predict(input_df)
print(result)

,batting_team,bowling_team,current_score,wickets_left,crr,city,balls_left,last_five
0,New Zealand,Pakistan,123,6,7.23,Sydney,18,42

In [279]:
result

array([150.41])

In [277]:
y_test

37466    136
59191    140
2108     115
17309    203
31075    138
        ...
34164    141
62976    153
40930    120
47118    179
45811    132
Name: runs_x, Length: 9859, dtype: int64